{% load static i18n %}

{% block content %}
<div class="page-content p-5 bg-black text-light text-center">
	<fieldset class="border rounded-5 px-3 text-light text-break text-center d-inline-block">
		<legend class="display-6 float-none w-auto p-3" style="color:fuchsia;">{% trans "User Profile" %}</legend>
		<p><strong>{% trans "Username:" %}</strong> {{ user.login }}</p><br>
		<p><strong>{% trans "Alias:" %}</strong> {{ user.nickname }}</p>
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-info">{% trans "Save" %}</button>
		</form><br>
	</fieldset>
</div>
{% endblock %}