{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<div class="page-content py-5 bg-black text-light">
	<h1>User Information</h1>
    <ul>
        {% comment %} {% for user in user_data %} {% endcomment %}
            <li>
                <strong>Login:</strong> {{ user_info.login }}<br>
            </li>
			<li>
				<strong>Nickname:</strong> {{ user_info.nickname }}<br>
			</li>
        {% comment %} {% empty %} {% endcomment %}
            {% comment %} <li>No users found.</li> {% endcomment %}
        {% comment %} {% endfor %} {% endcomment %}
    </ul>
</div>
{% endblock %}