{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<div class="page-content p-0 bg-black text-light text-center">
    <fieldset class="border rounded-5 px-3 text-light text-break text-start d-inline-block">
        <legend class="display-6 float-none w-auto p-0" style="color:fuchsia;">{% trans "User Profile" %}</legend>

        <form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group py-2">
				<img src="{{ user.image_link }}" alt="profile_img" class="rounded-pill" width="100px" height="100px" id="profile_img">
				{{ form.image }}			
			</div>
			<div class="form-group py-2">
				<label for="username">{% trans "Username" %}</label>
				<input type="text" class="form-control" id="usernameForm" placeholder="{{ user.login }}" readonly>
			</div>
			<div class="form-group py-2">
				<label for="email">Email</label>
				<input type="email" class="form-control" id="emailForm" placeholder="{{ user.email }}" readonly>
			</div>
			<div class="form-group py-2">
                <label for="alias">{% trans "Alias for Tournments" %}</label><br>
                {{ form.nickname }}
            </div>
			<div class="form-group py-2">
				<label for="exampleFormControlSelect1">{% trans "Two-Factor-Authentication" %}</label>
				<select class="form-select" id="exampleFormControlSelect1">
				  <option>{% trans "disable" %}</option>
				  <option>{% trans "enable" %}</option>
				</select>
			</div><br>
			<button type="submit" class="btn btn-info">{% trans "Save" %}</button>
		</form><br>
    </fieldset>
</div>

{% endblock %}
