{% load static i18n %}

{% block content %}
<div class="page-content p-5 bg-black text-light text-center" style="min-height: 100%;" id="friendsPage">
  <div class="search-bar-container text-center">
    <form method="post" action="{% url 'friends' %}">
      {% csrf_token %}
      <input type="text" name="search_query" placeholder="Enter friend's login">
      <button type="submit" class="btn btn-info">{% trans "Add Friend" %}</button>
    </form>
  </div>
  {% if messages %}
    <div class="messages">
      <div>{{ message }}</div>
    </div>
  {% endif %}
  <br>
  <h1 class="display-6" style="color:fuchsia;">{% trans "List of Friends" %}</h1>
  {% if friends %}
    <table class="table table-responsive table-dark rounded-4 overflow-hidden">
      <thead class="border-bottom-0 table-secondary">
        <tr>
          <th scope="col">{% trans "USER" %}</th>
          <th scope="col">{% trans "STATUS" %}</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for friend in friends %}
          <tr>
            <th scope="row" class="border-bottom-1" style="font-weight: normal;">{{ friend.friend.login }}</th>
            <td><img src="{% static friend.friend.current_status|lower ~ '.png' %}"></td>
            <td>
				<form method="post" action="{% url 'friends' %}" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="delete_friend_id" value="{{ friend.id }}">
                    <button type="submit" class="btn p-0 border-0" style="background-color:transparent;">
                        <img src="{% static 'delete_red.png' %}" alt="Delete">
                    </button>
                </form>
			</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>{% trans "No friends!" %}</p>
  {% endif %}
</div>

{% endblock %}