{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Ping</title>
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
      }
      body {
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <canvas width="1300" height="785" id="game"></canvas>
    <script src="{% static 'game.js' %}"></script>
  </body>
</html>
{% endblock %}