{% extends 'base.html' %}
{% load static i18n %}
{% load static %}

{% block content %}
<body>
	<div class="page-content" style="background-image: url({% static 'arcade_new.png' %}); background-repeat: no-repeat; background-size: 100% 100%; min-height: 100%;">
		<div class="page-content pt-5 text-light text-center">
			<p>Ready to play Pong?</p>
			{% if user_info %}
      <h2>User Info</h2>
      <pre>{{ user_info | safe }}</pre>
      {% else %}
			<button class="auto-btn">Authorize</button>
			{% endif %}
      <script src="{% static 'app.js' %}"></script>
		</div>    
	</div> 
</body>
{% endblock %}