{% extends 'base.html' %}
{% load static i18n %}

{% with is_home_page=True %}
	{% block content %}
		<div class="page-content bg-black text-light text-center" style="min-height: 100%;">
			<fieldset class="border rounded-5 px-3 text-light text-break text-center d-inline-block">
				<legend class="display-6 float-none w-auto p-3">{% trans "The Game" %}</legend>
				<p>{% trans "Pong is a 2D game simulating table tennis." %}</p>
				<p>{% trans "Players control paddles to hit the ball back and forth." %}</p>
				<p>{% trans "Points are earned when one fails to return the ball to the other side." %}</p>
				<p>{% trans "The goal is to reach 11 points before the opponent." %}</p>
			</fieldset>
			<br><br>
			<fieldset class="border rounded-5 px-3 text-light text-break text-center d-inline-block">
			<legend class="display-6 float-none w-auto p-3">{% trans "Ready to play Pong?" %}</legend>
			<a href="{% url 'game' %}" class="btn btn-primary">{% trans "Play vs Computer" %}</a>
			<a href="{% url 'game' %}" class="btn btn-primary">{% trans "Play Tournment" %}</a>
			<a href="{% url 'game' %}" class="btn btn-primary">{% trans "Play vs Online Player" %}</a>
			<br><br>
		</fieldset>
		</div>
		<script> 
			// Check if the URL contains a code and redirect to the home page without query parameters
		if (window.location.href.includes("?code=")) {
			window.history.replaceState({}, document.title, "/"); // Remove query parameters
		}
		comsole.log("Hello");
		</script>
	{% endblock %}
{% endwith %}


{% comment %} <script>
    // Function to load content dynamically
    function loadContent(url) {
        fetch(url)
            .then(response => response.text())
            .then(data => {
                document.getElementById('contents').innerHTML = data;
            })
            .catch(error => console.error('Error:', error));
    }

    // Event listeners for the links
    document.getElementById('playVsComputer').addEventListener('click', function(event) {
        event.preventDefault();
        loadContent("{% url 'game' %}");
    });

    document.getElementById('playTournament').addEventListener('click', function(event) {
        event.preventDefault();
        loadContent("{% url 'game' %}");
    });

    document.getElementById('playVsOnlinePlayer').addEventListener('click', function(event) {
        event.preventDefault();
        loadContent("{% url 'game' %}");
    });

    // Check for query parameters and remove them
    if (window.location.href.includes("?code=")) {
        window.history.replaceState({}, document.title, "/");
    }
</script> {% endcomment %}