{% load static %}
{% block content %}
<div class="page-content bg-black text-light text-center" style="min-height:  100%;">
	<fieldset class="border rounded-5 px-3 text-light text-break text-center d-inline-block">
		<legend class="display-6 float-none w-auto p-3" style="color:fuchsia;">Игра</legend>
		<p>Понг - это  2D игра, имитирующая настольный теннис.</p>
		<p>Игроки управляют  лыжами, чтобы отбивать мяч.</p>
		<p>Очки начисляются, когда один не возвращает мяч на другую сторону.</p>
		<p>Цель - набрать  11 очков до того, как это сделает противник.</p>
	</fieldset>
	<br><br>
	<fieldset class="border rounded-5 px-3 text-light text-break text-center d-inline-block">
		<legend class="display-6 float-none w-auto p-3" style="color:fuchsia;">Готов?</legend>
		<a id="vs_comp" class="btn btn-info mb-3">Играть против компьютера</a>
		<a class="btn btn-info mb-3">Играть в турнир</a>
		<a id="multi_player" class="btn btn-info mb-3">2 игрока онлайн</a>
		<a id="multi_player4" class="btn btn-info mb-3">4 игрока онлайн</a>
		<br><br>
	</fieldset>
</div>
{% endblock content %}