
<!DOCTYPE html>
<html>
  <head>
    <title>Ping</title>
    <!-- Setting styles for the entire document -->
    <style>
      html,
      body {
          height: 100%;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
      }
  
      canvas {
          display: block;
          margin: 0;
          padding:0%;
          width: 100%;
          max-width: 1050px;
          height: 80%;
          max-height: 750px;
          background-color: black;
          border: 2px solid slateblue;
      }
    
	  button{
        user-select: none;
      }

  </style>
  
  </head>
  <body>
   
    <!-- Drawing the game field -->
    <canvas width="1050" height="750" id="game"></canvas>
	<button id="leftButton" style="position: absolute; left: 10px; top: 100px; width: 100px; height: 100px; background-color: rgba(0, 0, 0, 0.5); color: white; border: none; border-radius: 5px; font-size: 16px;">W</button>

	<button id="rightButton" style="position: absolute; left: 10px; right: 10px; top: 400px; width: 100px; height: 100px; background-color: rgba(0, 0, 0, 0.5); color: white; border: none; border-radius: 5px; font-size: 16px;">S</button>

	<button id="upButton" style="position: absolute; left: auto; right: 10px; top: 100px; width: 100px; height: 100px; background-color: rgba(0, 0, 0, 0.5); color: white; border: none; border-radius: 5px; font-size: 16px;">↑</button>

	<button id="downButton" style="position: absolute; left: auto; right: 10px; top: 400px; width: 100px; height: 100px; background-color: rgba(0, 0, 0, 0.5); color: white; border: none; border-radius: 5px; font-size: 16px;">↓</button>

	<div id="customization">
		<label for="paddleSpeed">Paddle Speed:</label>
		<input type="range" id="paddleSpeed" min="1" max="10" value="6">
		
		<label for="ballSpeed">Ball Speed:</label>
		<input type="range" id="ballSpeed" min="1" max="10" value="6">
	</div>

  </body>
</html>