{% load static i18n %}

{% block content %}
<div class="page-content py-5 bg-black text-light" style="min-height: 100%;">
	<h1> We need to include total number of matches, total Wins, total Losses also (for module).</h1>
	<br><br>
	<h3>Match History</h3>
		<ul>
			{% for match in matches %}
				<li>
					Date: {{ match.match_date }} Time: {{ match.match_time }}<br>
					Winner: {{ match.winner_user.login }} (Score: {{ match.winner_score }})<br>
					Loser: {{ match.loser_user.login }} (Score: {{ match.loser_score }})
				</li>
			{% empty %}
				<li>No matches found.</li>
			{% endfor %}
		</ul>
		{% if match_count %}
			<p>Match Count: {{ match_count }}</p>
		{% else %}
			<p>Match Count: 0</p>
		{% endif %}
</div>
{% endblock %}
