{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<div class="page-content py-5 bg-black text-light" style="min-height: 100%;">
	<h1> We need to include total number of matches, total Wins, total Losses also (for module).</h1>
	<br><br>
	<h3>Match History</h3>
	<table>
		<tr>
			<th>Date</th>
			<th>Time</th>
			<th>Winner</th>
			<th>Winner's Score</th>
			<th>Loser</th>
			<th>Loser's Score</th>
		</tr>
		{% for match in matches %}
		<tr>
			<td>{{ match.match_date }}</td>
			<td>{{ match.match_time }}</td>
			<td>{{ match.winner_user.username }}</td>
			<td>{{ match.winner_score }}</td>
			<td>{{ match.loser_user.username }}</td>
			<td>{{ match.loser_score }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
