<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tournament</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <style>
    
    .selector-for-some-widget {
        box-sizing: content-box;
    }

    body {
      height: 100vh;
      background-color:violet;
    }

    canvas {
      outline-color: rgb(85, 24, 182);
      outline-style: solid;    
      margin: 0;
      padding: 0px;
      align-items: center;
      justify-content: center;
      width: 100vw;
      max-width: 100%;
      height: calc(100vh - 160px);
      max-height: 100%;
      background: black;
    }

    custom {
      height: 80px;
    }

    .divider {
    width: 100%;
    margin-top: 5px; /* Adjust margin as needed */
    margin-bottom: 5px; /* Adjust margin as needed */
  }

    #player-list {
      display: none;
    }
    
  </style>
</head>
<body>
  <div class="container-fluid d-flex align-items-center justify-content-center">
      <div class="tournament-players ps-2">
          <h2 class="display-6 pt-5">Players List</h2>
          <ul id="player-list"></ul>
          <input type="text" id="player-name" class="form-control" placeholder="nickname">
          <button id="add-player" onclick="addPlayer()" class="btn btn-light text-start">Add Player</button><br><br>
          <button id="start-tournament" onclick="startTournament()" class="btn btn-info text-start">Start Tournament</button><br>
          <div class="upcoming-matches">
            <p>Upcoming Matches...</p>
            <ul id="match-list"></ul>
          </div>
      </div>

      <div class="bigCanvas container-fluid text-center" id="gameScreenCanvas" style="display: none;">
        <div class="row py-4 text-center" id="custom">
          <div class="col" id="paddleSpeedButton">
            <label for="paddleSpeed">Paddle Speed: </label><br>
            <input type="range" id="paddleSpeed" min="1" max="10" value="7">
          </div>
          <div class="col" id="ballSpeedButton">
            <label for="ballSpeed">Ball Speed: </label><br>
            <input type="range" id="ballSpeed" min="1" max="10" value="7">
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-3 col-sm-1 d-flex justify-content-center align-items-center text-center ">
              <div class="btn-group-vertical" style="width: 30px; height: 100px; " id="leftButtons">
                <button id="leftTopButton" class="btn btn-info btn-lg p-0 m-0 btn-control">w</button>
                <div class="divider"></div>
                <button id="leftDownButton" class="btn btn-info btn-lg p-0 m-0 btn-control">s</button>
              </div>
            </div>
            <div class="col-6 col-sm-10 d-flex justify-content-center align-items-center text-center">
              <canvas width="1050" height="750" id="game" ></canvas>
            </div>
            <div class="col-3 col-sm-1 d-flex justify-content-center align-items-center text-center">
              <div class="btn-group-vertical" style="width: 30px; height: 100px; " id="rightButtons" >       
              <button id="rightTopButton" class="btn btn-info btn-lg p-0 m-0 btn-control">↑</button>
              <div class="divider"></div>
              <button id="rightDownButton" class="btn btn-info btn-lg p-0 m-0 btn-control">↓</button>
              </div>
            </div>
          </div>
        </div>
    </div>

  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
      var animationFrameID;
      var leftplayer;
      var rightplayer;
	  localStorage.setItem('gamesFlag', 'true');
      
      // Get the canvas and context      
      const canvas = document.getElementById("game");
      const context = canvas.getContext("2d");
      const grid = 15;
      const paddleHeight = grid * 5; // 75

      var rp_count = 0;
      var lp_count = 0; 
      
          
      // Setting the maximum distance the paddles can move downwards
        const LeftmaxPaddleY = canvas.height - grid - paddleHeight ;
        const RightmaxPaddleY = canvas.height - grid - paddleHeight;
    
        var paddleSpeed = 6;
        var ballSpeed = 4;
  
        // Activate secret level
        var secret = false;
        // Number of bounces in secret mode
        var secret_count = 0;
        ballColor = "white";
  
      // Describe the left paddle
      const leftPaddle = {
        // Position it in the center
        x: grid * 2,
        y: canvas.height / 2 - paddleHeight / 2,
        width: grid,
        height: paddleHeight,
        // The paddle doesn't move anywhere at the start
        dy: 0,
      };
        // Describe the right paddle
      const rightPaddle = {
        // Position it in the center on the right side
        x: canvas.width - grid * 3,
        y: canvas.height / 2 - paddleHeight / 2,
        width: grid,
        height: paddleHeight,
        // The right paddle doesn't move anywhere initially
        dy: 0,
      };
        // Describe the ball
      const ball = {
        // It appears in the center of the field
        x: canvas.width / 2,
        y: canvas.height / 2,
        // Square, the size of a grid cell
        width: grid,
        height: grid,
        radius:( grid / 2) + 1,
        // The ball is not scored at the start, so remove the flag indicating that the ball needs to be reintroduced
        resetting: false,
        // Serve the ball to the top right corner
        dx: ballSpeed,
        dy: -ballSpeed,
      };
    
      function display_matches(){
        var matches = [];
        var players = JSON.parse(localStorage.getItem("players")) || [];
        for(let i = 0; i < players.length; i += 2){
            let player1 = players[i];
            let player2 = players[i + 1] || "";
            matches.push(player1 + " vs " + player2);
        }
        var match_list = document.getElementById("match-list")  
        match_list.innerHTML = "";
        matches.forEach(function(match){
          var new_match = document.createElement("li");
          new_match.innerHTML = match;
          match_list.appendChild(new_match);
        });  
        var match_display = document.querySelectorAll(".upcoming-matches");
        match_display.forEach(function(element){
          element.style.display = "block" ;
        });  

    }
    function addPlayer(){
      var player_name = document.getElementById("player-name").value;
      if(player_name.trim()!= "") {
          var player_list = document.getElementById("player-list");
          var new_player = document.createElement("li");
          new_player.innerHTML = player_name;
          player_list.appendChild(new_player);
          document.getElementById("player-name").value = "";
          document.getElementById("player-list").style.display = "block";

          var players = JSON.parse(localStorage.getItem("players")) || [];
          if (players.length < 8) {
              players.push(player_name);
              localStorage.setItem("players", JSON.stringify(players));
          }
          else {
              alert("You have reached the maximum number of players allowed in a tournament");
          }
      }
      else {
          alert("Please enter a player name");
          }
    }
    
    function startTournament(){
        var players = JSON.parse(localStorage.getItem("players")) || [];
        if (players.length < 2){
            alert("You need at least 2 players to start a tournament");
        }
        else {
            players = players.sort(() => Math.random() - 0.5);
            localStorage.setItem("players" , JSON.stringify(players))
            var matches = [];
            for(let i = 0; i < players.length; i += 2){
                let player1 = players[i];
                let player2 = players[i + 1] || "";
                matches.push(player1 + " vs " + player2);
            }
            localStorage.setItem("matches", JSON.stringify(matches))
            // localStorage.setItem("players", JSON.stringify(players));            
            var elements = document.querySelectorAll(".tournament-players");
            elements.forEach(function(element){
                element.style.display = "none";
            });
            var match_list = document.getElementById("match-list")
            matches.forEach(function(match){
                var new_match = document.createElement("li");
                new_match.innerHTML = match;
                match_list.appendChild(new_match);
            });
            alert("tornnament starts now !! \n" + matches[0]);            
            leftplayer = players[0];
            rightplayer = players[1];


            function loop() {
        // Clear the game field
        
        if (rp_count == 3 || lp_count == 3) {
            cancelAnimationFrame(animationFrameID);
            if(rp_count == 3){            
              winner = rightplayer;
              loser = leftplayer;
              winner_score = rp_count;
              loser_score = lp_count;
            }
            else{
              winner = leftplayer;
              loser = rightplayer;
              winner_score = lp_count;
              loser_score = rp_count;
            }
            
            // gameOver();           
            alert("Game Over." + winner + " Wins!\n" + loser + " Scores: " + loser_score + "\n" +  winner +" Scores: " + winner_score);
            players.shift();
            players.shift();
            players.push(winner);
            matches.shift();
            localStorage.setItem("matches", JSON.stringify(matches))
            localStorage.setItem("players", JSON.stringify(players));            
            if (players.length == 1){
              alert("Tournament Over. " + winner + " Wins!");
              localStorage.removeItem("players");
              localStorage.removeItem("matches");
            }
            else{
              display_matches();
              alert("Next Match: " + players[0] + " vs " + players[1] );
              rp_count  = 0;
              lp_count = 0;
              leftplayer = players[0];
              rightplayer = players[1];
              animationFrameID = requestAnimationFrame(loop);
            }
          }
        else
          animationFrameID = requestAnimationFrame(loop);

        context.clearRect(0, 0, canvas.width, canvas.height); // clear canvas
        // If the paddles were moving somewhere on the previous step, let them continue moving
        leftPaddle.y += leftPaddle.dy;
        rightPaddle.y += rightPaddle.dy;

        // check paddles stay witin the boundary
        boundary_check(leftPaddle, grid, LeftmaxPaddleY);
        boundary_check(rightPaddle, grid, RightmaxPaddleY);
             
        // Draw the paddles
        context.fillStyle = "white";
        context.fillRect(
          leftPaddle.x,
          leftPaddle.y,
          leftPaddle.width,
          leftPaddle.height
        );
        context.fillRect(
          rightPaddle.x,
          rightPaddle.y,
          rightPaddle.width,
          rightPaddle.height
        );
          // If the ball was moving somewhere on the previous step, let it continue moving
        ball.x += ball.dx;
        ball.y += ball.dy;

        //check for wall hits
        if (ball.y < grid) {
          ball.y = grid;
          ball.dy *= -1;
        }
        else if (ball.y + grid > canvas.height - grid) {
          ball.y = canvas.height - grid * 2;
          ball.dy *= -1;
        }

        // If the ball flew off the game field to the left or right, restart it
        if ((ball.x < 0 || ball.x > canvas.width) && !ball.resetting) {
          // Mark that the ball is restarted to avoid looping
          ball.resetting = true;
          if (ball.x < 0) {
            // If the ball flew off to the left, the right player scores
            rp_count += 1;
          }
          else {
            // If the ball flew off to the right, the left player scores
            lp_count += 1;
          }   
         
          // Give a second for players to prepare
          setTimeout(() => {
            // Ball is in play again
            ball.resetting = false;
            // Launch it again from the center
            ball.x = canvas.width / 2;
            ball.y = canvas.height / 2;
          }, 1000);
        }
        if (collides(ball, leftPaddle)) {          
          ball.dx *= -1;                            // send it in the opposite direction
          ball.x = leftPaddle.x + leftPaddle.width; // Increase the ball's coordinates by the paddle's width 
        }                                           //to prevent a new bounce from being counted
        else if (collides(ball, rightPaddle)) {
          ball.dx *= -1;
          ball.x = rightPaddle.x - rightPaddle.width;
          // If it reaches 5, activate the secret level
          if (rp_count >= 5 || lp_count >= 5) {
            secret = true;
          }
          // Here is the secret level itself
          if (secret) {
            // Increase new bounces
            secret_count += 1;
            // If this number is divisible by 3 without a remainder...
            if (secret_count % 3 == 0) {
              // Increase the ball speed by one
              if (ball.dx > 0) {
                ball.dx += 1;
              } else {
                ball.dx -= 1;
              }
              if (ball.dy > 0) {
                ball.dy += 1;
              } else {
                ball.dy -= 1;
              }
              // Color the ball randomly
              ballColor =
                "#" +
                (Math.random().toString(16) + "000000")
                  .substring(2, 8)
                  .toUpperCase();
            }
          }
        }
        // Draw the ball in the appropriate color
        context.fillStyle = ballColor;
        context.beginPath();
        context.arc(ball.x, ball.y, ball.radius, 0, 2 * Math.PI);
        context.fill();
        // Draw the walls
        context.fillStyle = "white";
        context.fillRect(0, 0, canvas.width, grid);
        context.fillRect(0, canvas.height - grid, canvas.width, canvas.height);
        // Draw the grid in the middle
        for (let i = grid; i < canvas.height - grid; i += grid * 2) {
          context.fillRect(canvas.width / 2 - grid / 2, i, grid, grid);
        }

        // Text color, size and font
        context.fillStyle = "#ff00ff" 
        context.font = "bold 20pt courier new";

        // Display player scores
        context.fillText( leftplayer + ": " + lp_count, canvas.width /4, 50);
        context.fillText(rightplayer + " : " + rp_count, canvas.width *3/4, 50);

        // Monitor key presses
        document.addEventListener("keydown", function (e) {
          // If the up arrow key is pressed,
          switch (e.which) {
            case 87: // W key move the left paddle up
              leftPaddle.dy = -paddleSpeed;
              break;
            case 83: // S key move the left paddle down
              leftPaddle.dy = paddleSpeed;
              break;
            case 38: // up arrow move the right paddle up
             rightPaddle.dy = -paddleSpeed;
              break;
            case 40: // down arrow move the right paddle down
              rightPaddle.dy = paddleSpeed;
              break;
          }
        });

        // Now, watch for when someone releases a key to stop the paddle's movement
        document.addEventListener("keyup", function (e) {         
          if (e.which === 38 || e.which === 40) { // If it's the up or down arrow key,stop the right paddle
            rightPaddle.dy = 0;
          }
          if (e.which === 87 || e.which === 83) { //if its 'W' or 'S' keys, stop the left paddle
            leftPaddle.dy = 0;
          }
        });
      }
      animationFrameID = requestAnimationFrame(loop);
          // localStorage.removeItem("players");
      }
      // Make the buttons visible when the tournament starts, cris included these 3 lines for styling
      document.getElementById("gameScreenCanvas").style.display = "inline";

    }

// Check whether two objects with known coordinates intersect or not
// More details here: https://developer.mozilla.org/en-US/docs/Games/Techniques/2D_collision_detection
function collides(obj1, obj2) {
    return (
    obj1.x < obj2.x + obj2.width &&
    obj1.x + obj1.width > obj2.x &&
    obj1.y < obj2.y + obj2.height &&
    obj1.y + obj1.height > obj2.y
    );
}

function boundary_check(paddle, top, bottom) {
    if (paddle.y < top) {
    paddle.y = top;
    } else if (paddle.y > bottom) {
    paddle.y = bottom;
    }      
}

function display_players(players){
    var player_list = document.getElementById("player-list");
    players.forEach(function(player){
      var new_player = document.createElement("li");
      new_player.textContent = player;
      alert(new_player.textContent)
      player_list.appendChild(new_player);
    });
    player_list.style.display = "block";    
    var elements = document.querySelectorAll(".tournament-players");
    elements.forEach(function(element){
        element.style.display = "block";
    });
}

window.onbeforeunload = function() {
  localStorage.removeItem("players");
  localStorage.removeItem("matches");
  localStorage.setItem('gamesFlag', 'false');
}

window.addEventListener('beforeunload', function() {
	localStorage.setItem('gamesFlag', 'false');
  });
</script>
</body>
</html>